body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: rgb(48, 46, 53);
}

.normal-container {
  position: absolute;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: unset;
  z-index: 1;
  width: 95vw;
  margin: 20px;
  
}


.modal-full {
  position: absolute;
  z-index: 2;
  background-color: rgba(49, 62, 49, 0.463);
  height: 100vh;
  width: 100vw;
  display: none;
}
.task-and-hide {
display: flex;
justify-content: space-between;
}

.modal-section {
  position: absolute;
  top: 50%; /*change*/
  left: 50%; 
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid black;
  padding: 25px;
  width: 80vw;
  width: 450px;
  background-color: rgb(86, 118, 108);
  box-shadow: 0 0 10px;
  border-radius: 10px;
  
}







.task-modal {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  

}
.task-name-txt, .date-txt, .time-txt, .description-txt {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.task-input, .date-input, .time-input {
  margin-left: 8px;
  color: white;
  height: 2rem;
  font-size: 1.2rem;
  background-color: rgb(37, 49, 49);
  border: 2px solid black;
  padding-left: 8px;
  border-radius: 5px;
}

.descrition-input {
  color: white;
  height: 2rem;
  font-size: 1.2rem;
  background-color: rgb(37, 49, 49);
  border: 2px solid black;
  padding-left: 8px;
  border-radius: 5px;
  margin-left: 8px;
  height: 3rem;
}
.add-task-btn-modal {
  padding: 20px;
  font-size: 2rem;
  background-color: rgb(7, 85, 61);
  border: 5px solid rgb(26, 27, 26);
  color: white;
  font-weight: bold;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}
.add-task-btn-modal:hover {
  background-color: rgb(24, 58, 49);
  cursor: pointer;
}
.hide-modal-btn {
  background-color: red;
  padding: 0px 10px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px black;
}
.hide-modal-btn:hover {
  background-color: rgb(174, 59, 16);
  cursor: pointer;
}





.for-modal-btn {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(8, 186, 130, 0.468);
  background-color: rgb(11, 48, 63);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
  cursor: pointer;
  border: solid black 2px;
}
.for-modal-btn:hover {
  background-color: rgb(20, 33, 29);
}


.task-div {
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(3, 31, 62);
  color: white;
  border-radius: 10px;
  width: 90vw;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.task-name {
  font-size: 1.5rem;
  font-weight: bold;
}
.time-date {
  font-size: small;
  color: rgb(201, 163, 92);
  padding-top: 5px;
  margin-right: 10px;
}
.tick-dlt-task {
  display: flex;
  align-self: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 20px;
  margin-left: 20px;
}
.tick-task-btn {
  background-color: green;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 20px;
}

.lined-task {
  text-decoration:line-through;
  color: chartreuse;
  text-decoration-thickness: 2px;
  text-decoration-color: green;
  text-decoration-style: double;

}

.dlt-task-btn {
  padding: 5px 10px;
  background-color: red;
  border-radius: 5px;
}
.tick-task-btn:hover {
 cursor: pointer;
 background-color: rgb(57, 89, 8);
}

.dlt-task-btn:hover {
  cursor: pointer;
  background-color: rgb(164, 26, 26);
 }
 .added-date {
  margin-right: 5px;
 }

 .modal-section-hide {
  display: none;
}

.modal-section-display {
  display: block;
}
